@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
 from {
 transform: rotate(0deg);
 }
 to {
 transform: rotate(360deg);
 }
}

@keyframes bounce-subtle {
 0%, 100% {
 transform: translateY(0);
 }
 50% {
 transform: translateY(-8px);
 }
}

@keyframes backgroundChange {
 0% {
 background-color: #ff6347; /* Tomato */
 }
 25% {
 background-color: #ffdb58; /* Gold */
 }
 50% {
 background-color: #87cefa; /* SkyBlue */
 }
 75% {
 background-color: #ff69b4; /* HotPink */
 }
 100% {
 background-color: #32cd32; /* LimeGreen */
 }
}

.sunburst {
 background: repeating-conic-gradient(
 from 0deg,
 rgb(56, 189, 248) 0deg 20deg,
 rgb(103, 232, 249) 20deg 40deg
 );
 animation: rotate 60s linear infinite;
 transform-origin: center;
 scale: 2.5;
}

.clouds-container {
 pointer-events: none;
}

.cloud {
 animation: float-left 20s linear infinite;
}

.cloud-slow {
 animation-duration: 30s;
}

.cloud-fast {
 animation-duration: 25s;
}

.letter-box {
 @apply w-40 h-40 bg-yellow-400 rounded-full shadow-xl flex items-center justify-center text-7xl font-bold text-blue-800;
 perspective: 1000px;
 transform-style: preserve-3d;
 transition: all 0.3s ease;
 animation: pulse 2s infinite, backgroundChange 4s infinite; /* Apply background color change animation */
}

.missing-letter {
 @apply bg-blue-200 border-4 border-dashed border-blue-500;
 animation: bounce-subtle 1.5s ease-out infinite;
}

.correct-guess {
 @apply bg-green-400 border-green-500;
 animation: celebrate 0.5s ease-out;
}

.wrong-guess {
 @apply bg-red-400 border-red-500;
 animation: shake 0.5s ease-in-out;
}

@keyframes pulse {
 0%, 100% {
 transform: scale(1);
 }
 50% {
 transform: scale(1.1);
 }
}

@keyframes celebrate {
 0% {
 transform: scale(1);
 }
 50% {
 transform: scale(1.2) rotate(10deg);
 }
 100% {
 transform: scale(1) rotate(0);
 }
}

@keyframes shake {
 0%, 100% {
 transform: translateX(0);
 }
 25% {
 transform: translateX(-10px);
 }
 75% {
 transform: translateX(10px);
 }
}

.animate-bounce-subtle {
 animation: bounce-subtle 2s infinite;
}